<h1>Welcome to Mario's Speciality Food Products</h1>
<% content_for(:title, "Welcome") %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h3 class="row">Most reviewed products</h3>
      <%= render "display_products", :products => @most_reviewed_products %>
    </div>
    <div class="col-md-4">
      <h3 class="row">Local products</h3>
      <%= render "display_products", :products => @local_products %>
      <%= will_paginate @local_products, :param_name => 'local_page', renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-md-4">
      <h3 class="row">Recently added products</h3>
      <%= render "display_products", :products => @recently_added_products %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="row">All products</h3>
      <%= will_paginate @products , renderer: BootstrapPagination::Rails%>
      <%= render "display_products", :products => @products %>
    </div>
  </div>
</div>
