<div class="jumbotron">
  <h2 class="product-header"> <%= @product.name %></h2>
  <h5>Price: $<%= @product.cost %></h5>
  <h5>Country: <%= @product.country %></h5>
  <h6>
    <%= link_to "Edit", edit_product_path(@product) %> &nbsp;
    <%= link_to "Delete", product_path(@product),                            :data => {:confirm => "Are you sure?",                                           :method => "delete"} %>
  </h6>
  <%= link_to "Add Review", new_product_review_path(@product)%>
</div>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <ul>
    <% @product.reviews.each do |review| %>
    <div class="well">
      <div class="row review-header">
        <div class="col-md-4">
          <p><%= review.author %></p>
        </div>
        <div class="col-md-2">
          Rating: <%= review.rating %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <%= review.content %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>
