<!DOCTYPE html>
<html>
  <head>
    <title>MarioFoods</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-bg-color">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mario's food</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active-bg"><a href="/">Home</a></li>
            <li><a href="/products/new">Add new product</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <% if current_user %>
              <li><a href="/signout"><%= current_user.email %> | Signout</a></li>
              <!-- <%= current_user.email %> | <%= link_to "Sign out", '/signout' %> -->
            <% else %>
              <li><a href="/signup">Sign up </a></li>
              <li><a href="/signin">Sign in</a></li>
              <!-- <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %> -->
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><br><br><br><br>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
